.chatContainer {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    overflow-y: auto;
    height: 100vh;
    scroll-behavior: smooth;
    padding-left: 1vh;
    padding-right: 1vh;

    -ms-overflow-style: none;  /* Hide scrollbar for IE and Edge */
    scrollbar-width: none;     /* Hide scrollbar for Firefox */
}

.chatContainer::-webkit-scrollbar {
    display: none;            /* Hide scrollbar for Chrome, Safari and Opera */
}

.message {
    padding-left: 1vw;
    padding-right: 1vw;
    border-radius: 8px;
    max-width: 80%;
    line-height: 1.5;
}

.userMessage {
    composes: message;
    align-self: flex-end;
    background-color: #c84507;
    color: #eae8e8;
}

.aiMessage {
    composes: message;
    align-self: flex-start;
    background-color: #FFFFFF;
    border: 1px solid #E0E0E0;
    color: #333;
}

.aiModel {
    align-self: flex-start;
    color: #7b7a7a;
    font-size: 0.8em;
}

.message:last-child {
    margin-bottom: 75vh;
}

.message:first-child {
    margin-top: 1vh;
}

